body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: black;
  background-color: #FFC0CB;
  line-height: 1.5;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

img {
  border: 1px solid black;
  display: block;
  margin: 0 auto; /* center the image */
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
